GpsTracker-master.json
[{"id":"c6e75986.e76d18","type":"tab","label":"GoLocAut","disabled":false,"info":""},{"id":"e4ce9828.bbd948","type":"ui_button","z":"c6e75986.e76d18","name":"","group":"f3167cd8.660cb","order":7,"width":"2","height":"1","passthru":false,"label":"Activar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"reset","topicType":"str","x":290,"y":340,"wires":[["2b41ad72.5dfec2"]]},{"id":"2b41ad72.5dfec2","type":"function","z":"c6e75986.e76d18","name":"Activar zona","func":"msg.payload={};\nmsg.payload.action=\"send\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":380,"wires":[["52276ef0.8dbd4"]]},{"id":"52276ef0.8dbd4","type":"geofence","z":"c6e75986.e76d18","name":"Zona","mode":"circle","inside":"both","rad":76.65443599676942,"points":[],"centre":{"latitude":20.250523276553867,"longitude":-99.18907374143599},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":690,"y":440,"wires":[["5c473616.9333b8","78e79cac.7c9534"],["926273de.3b05f"]]},{"id":"926273de.3b05f","type":"ui_worldmap","z":"c6e75986.e76d18","group":"f3167cd8.660cb","order":0,"width":"0","height":"0","name":"Mapa","lat":"20.2473","lon":"-99.1899","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":970,"y":560,"wires":[]},{"id":"bc1851ea.e7bf1","type":"inject","z":"c6e75986.e76d18","name":"Dentro","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Antonio\",\"lat\":20.246773,\"lon\":-99.183428}","payloadType":"json","x":290,"y":400,"wires":[["41955e20.27833"]]},{"id":"5c473616.9333b8","type":"function","z":"c6e75986.e76d18","name":"Icono","func":"var name = {payload: msg.payload.name};\nvar lat = {payload: msg.payload.lat};\nvar lon = {payload: msg.payload.lon};\nvar time = Date.now();\nvar date = new Date(time).toLocaleDateString(\"mx-MX\");\nvar hour = new Date(time).toLocaleTimeString(\"mx-MX\");\n\n\nif(msg.location.inarea === true){\n    msg.payload = {\n    name:name.payload,\n    \"lat\":lat.payload,\n    \"lon\":lon.payload,\n    \"date\": date+' '+hour,\n    icon:\"fa-car\",\n    \"iconColor\": '#008000'\n    };\n}\nelse {\n    msg.payload = {\n    name:name.payload,\n    \"lat\":lat.payload,\n    \"lon\":lon.payload,\n    \"date\": date+' '+hour,\n    icon:\"fa-car\",\n    \"iconColor\": '#FF0000'\n    };\n}\nreturn msg;\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":460,"wires":[["926273de.3b05f"]]},{"id":"7bfdabd.0500554","type":"inject","z":"c6e75986.e76d18","name":"Fuera","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Antonio\",\"lat\":20.2311,\"lon\":-99.2131}","payloadType":"json","x":290,"y":440,"wires":[["41955e20.27833"]]},{"id":"41955e20.27833","type":"function","z":"c6e75986.e76d18","name":"Localizacion","func":"var id = {payload: msg.payload.name};\nvar lat = {payload: msg.payload.lat};\nvar lon = {payload: msg.payload.lon};\n\nvar location;\n\nmsg: {\n    location={\n   \"lat\":{payload: msg.payload.lat},\n   \"lon\":{payload: msg.payload.lon}\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["52276ef0.8dbd4"]]},{"id":"8a49b96c.1c0b78","type":"function","z":"c6e75986.e76d18","name":"Mensaje de telegram","func":"// Creamos el mensaje con MARKDOWN\nvar message = msg.payload;\n\n// Configuramos el payload\nmsg.payload = {\n    //\"chatId\" : 5037663198 , \n    \"chatId\": 5230412286,\n    \"type\" : 'message', \n    \"content\" : message\n};\n\n// Enviamos el mensaje\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":240,"wires":[[]]},{"id":"78e79cac.7c9534","type":"function","z":"c6e75986.e76d18","name":"IN or OUT","func":"var lat = {payload: msg.payload.lat};\nvar lon = {payload: msg.payload.lon};\nif(msg.location.inarea === true){\n    msg.payload = 'dentro'\n}\nelse{\n    msg.payload = 'fuera'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":320,"wires":[["8f3bf823.75ba28"]]},{"id":"923717f8.7f2858","type":"telegram sender","z":"c6e75986.e76d18","name":"","bot":"156759a1.46b4d6","haserroroutput":false,"outputs":1,"x":1750,"y":240,"wires":[[]]},{"id":"d75588f2.15b318","type":"mqtt in","z":"c6e75986.e76d18","name":"","topic":"GoLocAut/GPSTracker","qos":"2","datatype":"json","broker":"9c7b6a57.58df18","x":240,"y":500,"wires":[["42c9c87b.b15908","41955e20.27833"]]},{"id":"42c9c87b.b15908","type":"debug","z":"c6e75986.e76d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":500,"wires":[]},{"id":"3c856a62.64c096","type":"node-red-contrib-whatsapp-cmb-send-message","z":"c6e75986.e76d18","name":"","account":"80b99021.9a4","text":"payload","inputtypemessage":"msg","rejectssl":false,"x":1740,"y":300,"wires":[[]]},{"id":"59f6d61b.cbfd88","type":"e-mail","z":"c6e75986.e76d18","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":760,"y":740,"wires":[]},{"id":"587a74a2.ee569c","type":"e-mail","z":"c6e75986.e76d18","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"19011518@itsoeh.edu.mx","dname":"","x":1770,"y":360,"wires":[]},{"id":"31b04d2f.d04312","type":"inject","z":"c6e75986.e76d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Desde Node-Red","payload":"Hola Vanessa >_<","payloadType":"str","x":1580,"y":760,"wires":[[]]},{"id":"2095e3cf.02975c","type":"debug","z":"c6e75986.e76d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1920,"y":820,"wires":[]},{"id":"42360ceb.b4efe4","type":"inject","z":"c6e75986.e76d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"usename\":ytas}","payloadType":"str","x":1640,"y":860,"wires":[[]]},{"id":"126f5670.bc356a","type":"twitter out","z":"c6e75986.e76d18","twitter":"","name":"Tweet","x":1710,"y":420,"wires":[]},{"id":"69968cef.2b5474","type":"template","z":"c6e75986.e76d18","name":"Plantilla twitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"D campero_joan {{payload}}","output":"str","x":1500,"y":420,"wires":[[]]},{"id":"ec9c2893.9436d8","type":"inject","z":"c6e75986.e76d18","name":"","props":[{"p":"payload"},{"p":"username","v":"phillduffy","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":1660,"y":960,"wires":[[]]},{"id":"4af07aba.f49dc4","type":"inject","z":"c6e75986.e76d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"D campero_joan Hola cuco","payloadType":"str","x":1630,"y":920,"wires":[[]]},{"id":"8f3bf823.75ba28","type":"rbe","z":"c6e75986.e76d18","name":"Comprobacion","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1100,"y":320,"wires":[["c504e14e.50dd2"]]},{"id":"8901d67e.773da8","type":"function","z":"c6e75986.e76d18","name":"Plantilla correo","func":"let message = msg.payload\nvar lat = {payload: msg.payload.lat};\nvar lon = {payload: msg.payload.lon};\nvar state = {payload: msg.payload.status};\nif(msg.location.inarea === false){\nmsg.topic = \"Alerta de GoLocAut\"\nmsg.payload = message \n//+ \"\\nhttps://www.google.es/maps?q=\"+lat.payload+\",\"+lon.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":360,"wires":[["db74afef.8bc0f"]]},{"id":"c504e14e.50dd2","type":"template","z":"c6e75986.e76d18","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El vehiculo se encuentra {{payload}} de la zona limitada","output":"str","x":1280,"y":320,"wires":[["69968cef.2b5474","8901d67e.773da8","8a49b96c.1c0b78"]]},{"id":"db74afef.8bc0f","type":"debug","z":"c6e75986.e76d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":480,"wires":[]},{"id":"f3167cd8.660cb","type":"ui_group","name":"Auto","tab":"582f126c.f87bfc","order":1,"disp":true,"width":"22","collapse":true,"className":""},{"id":"156759a1.46b4d6","type":"telegram bot","botname":"GoLocAut","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9c7b6a57.58df18","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"Anronio_NR_2","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80b99021.9a4","type":"node-red-contrib-whatsapp-cmb-account","name":"WhatsApp API Account"},{"id":"582f126c.f87bfc","type":"ui_tab","name":"GoLocAut","icon":"dashboard","order":9,"disabled":false,"hidden":false}]